<% layout("./layout/boilerplate.ejs")  %>
<body>

    <div class="blog-title-box">
        <form method="get" action="/home/new">
            <button id="new-btn"> New Post  </button>
        </form>
        <br>
        <h1 style="text-align: center">BlogPosts</h1>
        <form method="get" action="/signin">
            <button>Sign in</button>
        </form>
        <form method="get" action="/signout">
            <button>Sign out</button>
        </form>
    </div>

    <div class="blogpost-container">
    <% for (blog of allBlogs) {%>

        <div class="blogs">

            <div class="blog-head">
                <div class="blog-user">
                    <img class="user-pic"src="<%= blog.picture%>" alt="*userPic">
                    <h4><%= blog.username %></h4>
                </div>
            </div>

            <div class="blog-body">
                <h2><%= blog.title %></h2>
                <p> <%= blog.blogmat%> </p>
            </div>
            <div class="blog-options">
                <form method="get" action="/home/<%= blog._id %>">
                    <button> View-Post </button>
                </form>
            </div>

        </div>
        
    <% } %>
    </div>
</body>


